@import url("../Content/fonts.css");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /*  theme colors  */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  /* gradient color */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /*  theme font-family */
  --Abel: "Abel", cursive;
  --Poppins: "Poppins", cursive;
  --Roboto: "Roboto", cursive;
}

/* ...........Global Classes............... */
a {
  text-decoration: none;
  color: var(--text-gray);
}


ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Abel);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}

h3 {
  font-family: var(--Poppins);
  font-size: 1.3rem;
}

p{
    font-family: var(--Roboto);
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: var(--Poppins);
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.btn {
  border: none;
  color: white;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Roboto);
  cursor: pointer;
}

span{
  font-family: var(--Abel);
}

/* ........x...Global Classes.........x...... */

/* ...........Navigation styles.............. */
.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.6rem;
}

.nav .nav-items .nav-link:hover {
  background-color: #5FA717;
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}
.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: flex;
  font-family: var(--Poppins);
  font-size: 1.6rem;
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social i:hover {
  color: #a1c4cf;
}

.collapse {
  height: 35rem;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

/* ------------x------------Navbar section------------x-------------- */

/* -----------------------Main section--------------------------- */

/* -----------------------Site title--------------------------- */

section .login{


}

main .site-title {
  background: url(../images/cassava.png);
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 10rem;
  padding-left:5rem;
  padding-right: 5rem;
  text-align: center;
  color: var(--white);
}

main .site-title .description {
  padding-top: 10rem;
  padding-left:5rem;
  padding-right: 10rem;
  text-align: center;
  color: var(--white);
}

main .site-title .login {
  padding-top: 10rem;
  padding-left:5rem;
  padding-right: 5rem;
  text-align: left;
  color: var(--white);
}

main .site-title .login input{
    margin-bottom: 2rem;
    border: 1px solid white;
    
}

main .site-title h1,
h3 {
  margin: 0.3rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background: #5FA717;
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* -----------------x----  Site title-------------x-------------- */
/* ---------------------  Blog Carousel--------------------------- */

main .blog {
  background: url("../assets/Abract01.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 65%;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
  padding: 2rem 0;
}

main .blog-content .btn-blog {
  padding: .7rem 2rem ;
  background: var(--sky);
  margin: .5rem;
}

main .blog-content span{
  display: block;
}
/* -----------------x----  Blog Carousel-------------x-------------- */

/* ------------x------------Main section------------x--------------- */

/*   Viewport less than or equal to 750px */
@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}

/*   Viewport less than or equal to 750px */
